:host ::ng-deep .inner-table-row > .ant-table-cell {
  padding-left: 0 !important;
}

:host ::ng-deep .inner-table .ant-table {
  margin-left: 0 !important;
}

:host ::ng-deep .ant-table-thead > tr > th {
  background-color: lightgray;
}

:host ::ng-deep .inner-table .ant-table-thead > tr > th:first-child {
  background-color: transparent;
}
